.undone {
		color: #333;
		background-color: #fff;
		border-color: #ccc;
}
.overduedate {
		background-color : #d9534f;
}

.doing {
		background-color : #428bca;
}

.waiting {
		background-color : #f0ad4e;
}

.done {
		background-color : #5cb85c;
}

.discarded {
		background-color : #C0C0C0;
}
